<div class="bgImageContainer"></div>
<div class="main-container">
  <main>
    <!-- Contenedor -->
    <div class="sub-contenedor-login">
      <div class="contenedor-form">
        <!-- Imagen de Login -->
        <div class="row justify-content-center"
          style="padding-bottom: 50px; padding-top: 20px;">
          <div class="col-md-10 center-div" >
            <img
              src="assets/logo/logo_trinitas.jpg"
              style="width: 65%;"
              alt="Logo_Trinitas"
            />
       
          </div>
        </div>

        <form
          #formulario="ngForm"
          (ngSubmit)="enviarFormulario(formulario)"
          novalidate="novalidate"
          class="form-no-background"
        >
          <!-- Correo Electrónico -->
          <div class="row justify-content-center">
            <div class="col-md-10">
              <mat-form-field style="width: 100%;"
                class="example-form-field">
                <mat-label>Correo electrónico</mat-label>
                <input
                  type="username"
                  matInput
                  class="input-form colorinp"
                  #email="ngModel"
                  name="emailName"
                  [(ngModel)]="loginRequest.email"
                  placeholder="Escribe tu usuario"
                  required="true"
                />
                <mat-icon matPrefix class="my-icon">
                  <img src="assets/svg/email.svg" class="icons"/>
                </mat-icon>
                <mat-error *ngIf="email.hasError('required')">
                  El correo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <br />

          <!-- Contraseña -->
          <div class="row justify-content-center">
            <div class="col-md-10">
              <mat-form-field style="width: 100%;">
                <mat-label>Contraseña</mat-label>
                <input
                  [type]="hidePassword ? 'password' : 'text'"
                  matInput
                  #password="ngModel"
                  name="passwordName"
                  [(ngModel)]="loginRequest.password"
                  placeholder="Escribe tu contraseña"
                  required="true"
                />
                <mat-icon matPrefix class="my-icon">
                  <img src="assets/svg/lock.svg" class="icons"/>
                </mat-icon>
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                  <img [src]="hidePassword ? 'assets/svg/visibilityON.svg' : 'assets/svg/visibilityOFF.svg'" class="icons" />
                </mat-icon>
                <mat-error *ngIf="password.hasError('required')">
                  La contraseña es <strong>requerida</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <a  href="/sendEmail" class="row justify-content-center" style="color: #4679AF; font-size: 1rem;">
            ¿Olvidaste tu contraseña?
          </a>
          <!-- Botón Iniciar Sesión -->
          <div class="row justify-content-center">
            <div class="col-md-10 text-center">
              <button [disabled]="disableSubmit" type="submit" class="btn-ingresar">
                <b>Iniciar sesión</b>
              </button>
            </div>
          </div>
  
        </form>
      </div>
    </div>
  </main>
</div>
