$color-primario: #0065A2;
$color-primario-hover: #0094F0;
$color-primario-alt: #4BE0A8;

$color-secundario: #00B9B3;
$color-secundario-hover: #4BE0A8;

$color-terceario: #003A7E;
$color-terceario-hover: #0160cb;

$color-complementario: #f05c00;

// $color-cuaternario: #052F5F;
// $color-cuaternario-hover: #0956AE;

$color-menu: #e7e7e7;
$color-font: #000000;
$color-background-input: #FFFFFF;

// $border-radius-inputs: 5px;
